{% extends "frontend/base.html" %}

{% block title %}Refine, reuse and request data{% endblock %}
{% block meta %}
    <meta name="description" content=""/>
{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block header_outer %}{% endblock %}

{% block content_outer %}
<div id="minimal">
    <h2>
        <a class="create editor_scraper" data-wiki_type="scraper" href="{% url choose_template 'scraper' %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Homepage buttons', 'Write code']); }">Write code</a>
    </h2>

</div>
<div id="content">
    <div class="tags">
        <h2><a href="{% url all_tags %}" title="Browse by tag">Popular tags</a></h2>
        <ul class="tags">
            {% for tag in tags %}
            <li><a href="{% url single_tag tag.name %}">{{tag.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
	<br class="clear"/>
</div>
{% endblock %}

{% block run_script %}
var t = $('ul.tags li').length;
$('ul.tags li').each(function(){
    var i = $(this).index();
    $(this).css('opacity', 1-i/(t*1.2)).hover(function(){
        $(this).css('opacity', 1);
    }, function(){
        $(this).css('opacity', 1-i/(t*3));
    });
});
{% endblock %}
