<head><style type="text/css"><!--
        ins {background: #bfb; display:block}
        p ins, li ins, p del, li del {display:inline}
        del{background: #fcc; display:block}
        ins,del {text-decoration: none}
--></style></head>


<div class="terms">

    <div id="terms_change_notice">
        <h5>Our T&amp;Cs have changed.</h5>
        <p>The changes (shown in green) came into force for newly registering users at 6PM on Friday 11th November 2011, and for existing users a week later, at 6PM on Friday 18th November. This diff shows what has changed between the two versions.</p>
        <p><a href="{% url terms %}#terms_2"><img src="{{ MEDIA_URL }}images/icons/page_green.png" width="16" height="16" alt="" />View the new terms</a> <a href="{% url terms %}#terms_1"><img src="{{ MEDIA_URL }}images/icons/page_red.png" width="16" height="16" alt="" />View the old terms</a></p>
    </div>

    <h3 id="introduction">Introduction</h3>

    <ul>
        <li>These terms and conditions set out the terms on which ScraperWiki Ltd, a company registered in England and Wales (No06979284), whose registered office is at James House, Stonecross Business Park, Yew Tree Way, Warrington, Cheshire, WA3 3JD (“we”, “us”, “our”) contracts with you for <del class="diff">permission to </del>use <ins class="diff">of </ins>the ScraperWiki site and services. By using any ScraperWiki site you agree to be bound by these terms.
        </li>
        <li>In these terms and <del class="diff modified">conditions the following terms </del><ins class="diff modified">conditions, certain words and phrases </ins>are <del class="diff modified">defined </del><ins class="diff modified">given pre-defined meanings </ins>as follows:
            <dl class="define">
                <ins class="diff">    </ins><dt><del class="diff modified">scraper</del><ins class="diff modified">script</ins></dt>
                <ins class="diff">    </ins><dd>
<ins class="diff">    </ins>                    means a computer program which <del class="diff modified">automatically accesses one </del><ins class="diff modified">is managed </ins>or <del class="diff modified">more websites in order to extract information from them
</del><ins class="diff modified">run within the ScraperWiki platform such as, but not
                        limited to, a scraper or a view
    </ins>                </dd>
                    <dt>ScraperWiki site</dt>
                    <dd>means the site <a href="https://scraperwiki.com">scraperwiki.com</a>, any of its aliases and any other site we operate under the ScraperWiki name
                    </dd>
                    <dt>
                        ScraperWiki services
                    </dt>
                    <dd>
                        means any API or other means by which any <del class="diff modified">scraper, scraper code </del><ins class="diff modified">script </ins>or <del class="diff modified">scraped </del><ins class="diff modified">script </ins>data is made available
                    </dd>
                    <dt>
                        <del class="diff modified">scraper </del><ins class="diff modified">script </ins>code
                    </dt>
                    <dd>means all versions of the source code of all <del class="diff modified">scrapers </del><ins class="diff modified">scripts </ins>stored on the ScraperWiki site
                    </dd>
                    <dt>
                        <del class="diff modified">scraped </del><ins class="diff modified">script </ins>data
                    </dt>
                    <dd>means all data stored by us on our website that has been created <del class="diff">automatically </del>by <del class="diff">the </del>use of <del class="diff modified">scrapers </del><ins class="diff modified">a script </ins>hosted on the ScraperWiki site
                    </dd>
                    <dt>
                        intellectual property
                    </dt>
                    <dd>means any rights in patents, registered and unregistered designs, copyright, databases, trade marks, confidential information and all other forms of intellectual property wherever in the world enforceable
                    </dd>
                    <dt><ins class="diff">		    commercial service</ins></dt>
                    <dd><ins class="diff">		    means any of our services for which we make a periodic charge</ins></dd>
                    <dt><ins class="diff">		    commercial user</ins></dt>
                    <dd><ins class="diff">		    means any user who is presently making use of one of our commercial services</ins></dd>
            </dl>
        </li>
        <li><del class="diff modified">The </del><ins class="diff modified">If you are not a commercial user,  the </ins>nature of this contract is purely permissive. We permit you to use the ScraperWiki site and services as and when they are available. We do not contract to make them available now or at any time or to provide any <ins class="diff">service or a </ins>particular level of <del class="diff modified">service.
        </del><ins class="diff modified">service</ins>
        </li>
        <li><ins class="diff modified">If you are a commercial user, we will make all reasonable efforts to make the commercial services for which you pay available to you, subject to the disclaimers set out in the <a href="#disclaimers">section headed "disclaimers"</a> below and in particular to the exclusion of liability for interruptions to the service. We do not guarantee any particular service level.</ins></li>
    </ul>

    <h3 id="changes">Changes to Terms and Conditions</h3>
    <ul>
        <li>We may amend these terms and conditions from time to time by sending notice of a variation to the email address you have supplied us. We will always give at least 7 days' notice of any variation and any variation will be binding on you on the date specified in the notice.
        </li>
    </ul>
    <h3 id="use">Use</h3>
    <ul>
        <li><del class="diff modified">You </del><ins class="diff modified">If you are not a commercial user, you </ins>may only use the ScraperWiki site and services <ins class="diff">for your own personal use or </ins>for purposes which are not primarily <del class="diff modified">commercial, or for your own personal use. The </del><ins class="diff modified">commercial. The </ins>services contained on the ScraperWiki site may be supplied on a commercial basis with agreed terms of service on payment to us of an agreed charge. Please contact us on +44 208 1330541 or use our <a href="{% url contact_form %}">contact form</a> for further <del class="diff modified">details.
</del><ins class="diff modified">details. If you are in breach of this clause, we may charge you a fee, for the period for which you were and continue to be in breach, consistent with the fee we would charge you if you were a commercial user.
</ins>        </li>
        <li>You agree that, in using the ScraperWiki site and services, you will not interfere with the legal rights of any other person or contravene of any laws prevailing in any of (i) the jurisdiction(s) to which you are subject; (ii) England and Wales; and (iii) the jurisdiction(s) to which any site that <del class="diff modified">you scrape </del><ins class="diff modified">a script accesses </ins>is subject. Prohibited behaviour includes (but is not limited to) any of the following:
        <del class="diff"></li>
        <li>
        </del>    <ul>
                <li><ins class="diff">(a) </ins>infringing the copyright, privacy or intellectual property rights of any person
                </li>
                <li><ins class="diff">(b) </ins>breach any laws including the Data Protection Act 1998
                </li>
                <li><ins class="diff">(c) </ins>invading any individual's privacy
                </li>
                <li><ins class="diff">(d) </ins>defaming any person
                </li>
                <li><ins class="diff">(e) </ins>behaviour amounting to unlawful harassment
                </li>
                <li><ins class="diff">(f) </ins>any form of denial of service attack
                </li>
                <li><ins class="diff">(g) </ins>any other actionable wrong
                </li>
            </ul>
<del class="diff">        </li>
        <li>You agree to adhere to the Community House Rules available on our site from time to time.
</del>        </li>
        <li>You must keep your contact details up to date and maintain at least one valid email address which is not hosted by us. Where we are required to give notice to you under these Terms and Conditions it is sufficient for us to attempt to send it to the email address you have supplied. We are not responsible for any problems caused by out of date or inaccessible contact details.
        </li>
    </ul>

    <ins class="diff modified"><h3 id="commercial">Commercial services</h3>
    <ul>
      <li>From time to time we may make available services for which a fee is payable. If you have agreed to use one of these services, you will be bound to pay us on the terms advertised in our <a href="{% url pricing%}">price list</a> unless and until you terminate the use of that service in accordance with this agreement.</li>
      <li>We may increase the price or payment terms for any commercial service by giving you 30 days' notice of the change and the date on which the change will take place.</li>
      <li>You may terminate any commercial service, without ending this agreement or closing your account, by giving us 30 days' notice</li>
      <li>Where we have given you notice of a change to the payment terms for any of our commercial services under clause 10 above, you may terminate that service before the change takes effect by giving us notice within 14 days' of receiving our notice of the prospective change that we gave to you. Your use of the commercial service in question will then end on the date we gave for the change in the price or payment terms Any other commercial service which you have agreed to use and this agreement will remain in force.</li>
      <li>If your account, and therefore this agreement, is terminated at your request, all commercial services will cease to be supplied to you and no fees that you have paid to us will be refundable. In that case, any obligation that you have to pay fees that became due prior to the termination of this agreement will continue in force.</li>
      <li>If your account is terminated by us for any of the reasons given under the heading "suspension and termination" below, this agreement will cease to have effect and we will terminate all commercial services at the same time. In that case, any obligation to pay fees that arose before the end of this agreement will be apportioned on a pro rata basis and any fees that you have paid relating to a period after the termination of the account will be repaid by us to you within 30 days. Any obligation that you have to pay fees relating to services supplied before the termination of the account will continue in force.</li>
      <li>Except in respect of injury to or death of any person or any other liability which cannot be limited or excluded by law (for which no limit applies), where you are a commercial user our liability to you in relation to all claims arising out of or in connection with this agreement shall not exceed the total monthly sum that would have been payable by you to us under this agreement at the time of the event giving rise to the liability.</li>
    </ul>


</ins>

</div>

